<%- include('../partials/adminHeader') %>


    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="warning">

            <!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <img src="/admin/assets/logo (1).png" alt="Molla Logo" width="105" height="45">
                </div>

                <ul class="nav">
                    <li>
                        <a href="/admin">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/admin/adminUser">
                            <!-- <i class='fas fa-users'></i> -->
                            <i class="ti-view-list-alt"></i>
                            <p>User List</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/loadCategory">
                            <i class="ti-layout-column3"></i>
                            <!-- <i class="ti-text"></i> -->
                            <p>Category</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/adminProduct">
                            <i class="ti-shopping-cart-full"></i>
                            <!-- <i class="ti-view-list-alt"></i> -->
                            <p>Products</p>
                        </a>
                    </li>

                    <li class="active">
                        <a href="/admin/loadOffer">
                            <i class="ti-gift"></i>

                            <p>Offer</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/loadBanners">
                            <i class="ti-map"></i>
                            <p>Banners</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/adminOrder">
                            <i class="ti-bell"></i>
                            <p>Orders</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/salesReport">
                            <i class="ti-download"></i>
                            <p>Sales Report</p>
                        </a>
                      </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Offers</a>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="/admin/adminlogout">
                          <i class="fa fa-power-off m-r-5 m-l-5"></i><br>
                        </a>
                      </li>
                    </ul>
        
                  </div>
                </div>
              </nav>

            <!-- <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">List of Users Who are Signed In</h4>
                                
                            </div>
                            <div class="table-responsive upgrade-btn">
                                <table class="table v-middle table-striped"> -->

            <div class="content">
                <div class="container-fluid">



                    <div class="nk-accordion mt-4" id="accordion-1" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default btn btn-light text-white">
                            <div class="panel-heading text-center" role="tab" id="accordion-1-1-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1"
                                    href="#accordion-1-1" aria-expanded="true" aria-controls="accordion-1-1">
                                    Add Offer <span class="panel-heading-arrow fa fa-angle-down text-white"></span>
                                </a>
                            </div>
                            <div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="accordion-1-1-heading">
                                <form action="/admin/loadOffers" method="post">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="form3Example3c">Enter New
                                                    Coupon</label>
                                                <input type="text" id="form3Example3c" class="form-control" name="name"
                                                    required />
                                                <label class="form-label" for="form3Example3c">Enter Type</label>
                                                <input type="text" id="form3Example3c" class="form-control" name="type"
                                                    required />
                                                <label class="form-label" for="form3Example3c">Enter Discount</label>
                                                <input type="number" id="form3Example3c" class="form-control"
                                                    name="discount" required />
                                                <label class="form-label" for="form3Example3c">Minimum Bill</label>
                                                <input type="text" id="form3Example3c" class="form-control" name="minimumBill"
                                                    required />
                                            </div><br>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="submit" value="Register"
                                                    class="btn btn-success btn-lg">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Offers List</h4>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">SI NO</th>
                                            <th scope="col">Offer Name</th>
                                            <th scope="col">Offer Type</th>
                                            <th scope="col">Offer Discount</th>
                                            <th scope="col">Minimum Bill</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if( offer.length> 0){ %>
                                            <% for(let i=1;i <=offer.length; i++){ %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= i %>
                                                    </th>
                                                    <td>
                                                        <%= offer[i-1].name %>
                                                    </td>
                                                    <td>
                                                        <%= offer[i-1].type %>
                                                    </td>
                                                    <td>
                                                        <%= offer[i-1].discount %>%
                                                    </td>
                                                    <td>
                                                        <%= offer[i-1].minimumBill %>
                                                    </td>
                                                    <td>
                                                        <a class="text-danger delete"
                                                            href="/admin/deleteOffer?id=<%= offer[i-1]._id %>"><i
                                                                style="color: #ff0000;"
                                                                class="m-r-5 mdi mdi-border-color "></i>Delete</a><br>
                                                    </td>
                                                </tr>
                                                <% }} else { %>
                                                    <tr>
                                                        <td colspan="5">Offer Not Found</td>
                                                    </tr>
                                                    <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>

    <script>
        $(".delete").on("click", function(e) {
          e.preventDefault()
          var self = $(this)
          Swal.fire({
            title: 'Do you want to delete this offer?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, do it!'
          }).then((result) => {
            if (result.isConfirmed) {
      
              location.href = self.attr("href")
          }
       })
      
        })
      </script>
    


    

    <%- include('../partials/adminFooter') %>