<% if(id) { %>
    <%- include('../partials/userLoggedinHeader') %>
        <% }else { %>
            <%- include('../partials/userHeader') %>
                <% } %>



            <main class="main">
                <section class="h-100 gradient-custom">
                    <div class="container-fluid  ">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-lg-112 col-xl-12">
                                <div class="card" style="border-radius: 20px;">
                    <div class="card-header px-4 py-5">
                        <h5 class=" mb-0 text-primary">Thanks for your Order <span
                                class="text-success">
                                <%= user.name %>
                            </span>!</h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: #f27c7c;">Receipt</p>
                            <p class="small text-muted mb-0">Receipt Voucher : NAN</p>
                        </div>

                        <% for(let i=0;i<order.products.item.length;i++){ %>


                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="/admin/assets/uploads/<%= order.products.item[i].productId.image[0]%>"
                                                class="img-fluid" alt="lol">
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0">
                                                <%=order.products.item[i].productId.name %>
                                            </p>
                                        </div>
                                        
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Category:<%=
                                                    order.products.item[i].productId.category %>
                                            </p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty:<%=
                                                    order.products.item[i].qty %>
                                            </p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-success mb-0 small">₹<%=
                                                    order.products.item[i].productId.price %>
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <hr class="mb-2" style="background-color: #221f1f; opacity: 3;">
                                <% if(order.status=='Delivered' ){ %>

                                    <div class="mb-2">
                                            <% if(order.productReturned[i]==0){ %>
                                            <a href="/cancelProduct?id=<%= order.products.item[i].productId._id%>"
                                                class="col-lg-10 col-xl-12 btn btn-outline-danger"> Return
                                                Product</a>
                                            <% }else{%>
                                                <a href="" class="col-lg-10 col-xl-12 btn btn-outline-success">
                                                    Product
                                                    Returned</a>
                                        <% } %>

                                    </div>
                                        <% } %>
                                
                            </div>
                            <% } %>


                                <div class="d-flex justify-content-between pt-2">
                                    <div class="mb-0">
                                        <p class="fw-normal mb-1">Track Order</p>
                                    </div>
                                    <div class="mb-0">
                                        <div class="d-flex justify-content-around mb-1">
                                            <p class="text-info mt-1 mb-0 ms-xl-5">
                                                <%= order.status %>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between pt-2">
                                    <p class="fw-bold mb-0">Order Details</p>
                                    <%if(order.discount>=0){%>

                                        <p class="fw-bold mb-0"><span
                                                class="fw-bold mb-0">Total</span> ₹
                                            <%=(order.products.totalPrice *100)/(100-order.discount)%>
                                        </p>
                                    <%}else{%>
                                        <p class="text-muted mb-0"><span
                                            class="fw-bold me-4">Total</span> ₹
                                        <%=order.products.totalPrice %>
                                    </p>
                                   <% }%>
                                </div>

                                <div class="d-flex justify-content-between pt-2">
                                    <p class="fw-normal mb-1">Invoice Number : <%= order._id %>
                                    </p>
                                    <p class="fw-normal mb-1"><span
                                            class="fw-bold me-4">Discount</span> ₹ :<%=((order.products.totalPrice *100)/(100-order.discount))-order.products.totalPrice%>

                                    </p>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="fw-normal mb-1">Invoice Date : <%= order.createdAt.toDateString() %>
                                    </p>

                                </div>

                                <div class="d-flex justify-content-between mb-5">
                                    <p class="fw-normal mb-1">Recepits Voucher : <%= order.offer %> = <%=order.discount%>% </p>
                                    <p class="fw-normal mb-1"><span class="fw-bold me-4">Delivery
                                            Charges</span> Free</p>
                                </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-5 bg-primary"
                        style=" border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <h5
                            class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                            Total
                            paid: <span class="h2 mb-0 ms-2"> ₹ <%=order.products.totalPrice %>
                                    </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>

<% if(id) { %>
    <%- include('../partials/userLoggedinFooter') %>
        <% }else { %>
            <%- include('../partials/userFooter') %>
                <% } %>